@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

/* font-family: 'Righteous', cursive;
font-family: 'Bowlby One SC', cursive; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}


/* HEADER */

header {
    background: #037394;
}

.search-nav {
    border: 2px solid #ccc;
    padding: .2rem .6rem;
}

li .nav-link {
    color: #fff;
}

@media all and (min-width: 1200px){
    header {
        background: #fff;
    }
    li .nav-link {
        color: #037394;
    }
}

/* ICONO WHATSAPP */

.iconowhatsapp {
    width: 50px;
    bottom: 100px;
    right: 15px;
}

/* FOOTER */

footer {
    background: #037394;;
}

footer div img {
    width: 40px;
}

/* PAGINA INDEX */

/* SECCION OFERTAS */

#oferta a {
    font-size: .75rem;
    cursor: pointer;
    transition-duration: .5s;
}

#oferta a:hover {
    font-size: .7rem;
}

/* SECCION DESTACADOS */

.destacados__texto {
    top: 15%
}

.destacados__texto h2 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.5rem;
}

@media all and (min-width: 768px){
    .destacados__texto h2 {
        font-size: 3.5rem;
    }

    .destacados__texto p {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 1200px){
    .destacados__texto {
        width: 50%;
    }
}

/* SECCION NOVEDADES */

#producto {
    width: 20%;
    cursor: pointer;
}

#contproductos div {
    transition-duration: .2s;
}

#contproductos div:active {
    border: none;
    box-shadow: 0px 0px 10px #037394;
}

#contproductos div:hover {
    transform: scale(1.05,1.05);
}

#contproducto p{
    font-size: .8rem;
}

@media all and (min-width: 1200px){
    .novedades h2 {
        border-bottom: 2px solid #ccc;
    }
}

/* SECCION MARCAS */

.img {
    transition-duration: .5s;
}

.img:active {
    transform: scale(1.01, 1.01);
    border: none;
    box-shadow: 0px 0px 25px #ccc;
}

#marcas img {
    transition-duration: .5s;
}

#marcas:hover, #marcas:active {
    transform: scale(1.05,1.05);
}

/* PAGINA HOMBRE */

/* SECCION GRILLA DE PRODUCTOS */

/* FILTROS */

#btnfilters {
    transition-duration: .5s;
}

#btnfilters:active {
    opacity: .2;
}

/* FILTROS APLICADOS */

#filtrosaplicados button {
    font-size: .8rem;
    border: none;
    background: none;
}

/* NEWSLETTER */

#newsletter p, input[type="email"] {
    font-size: .9rem;
}