@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

/* font-family: 'Righteous', cursive;
font-family: 'Bowlby One SC', cursive; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
    font-size: 25px;
}

/* PAGINA INDEX */

header {
    background: #037394;
}

/* SECCION OFERTAS */

.oferta a {
    font-size: .75rem;
}

/* SECCION DESTACADOS */

.destacados {
    position: relative;
}

.destacados__texto {
    position: absolute;
    color: #fff;
}

.destacados__texto h2 {
    font-family: 'Bowlby One SC', cursive;
}

@media all and (min-width: 768px){
    .destacados__texto {
        width: 75%;
        top: 30%;
    }
}

@media all and (min-width: 1200px){
    .destacados__texto {
        width: 50%;
    }
}

/* SECCION NOVEDADES */

.contenedor__producto {
    border: 3px solid #ccc;
    transition-duration: .2s;
}

.contenedor__producto:active {
    border: none;
    box-shadow: 0px 0px 10px #037394;
}

.producto__btn {
    width: 50%;
}

@media all and (min-width: 768px){
    .producto__btn {
        width: 75%;
    }
}

/* FOOTER */

footer {
    background: #037394;;
}

footer div img {
    width: 55px;
}

