* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* HEADER */

header {
    background: $main_color;

    @media all and (min-width: $large){
        background: #fff;
    }

    .navbar-toggler-icon {
        background-image: none;
    }

    .nav-item a {
        color: #fff;

        &:hover {
            color: $main_color;
        }

        @media all and (min-width: $large){
            color: #000;
        }
    }

    .icono {
        color: #fff;

        @media all and (min-width: $large){
            color: #000;
        }
    }

    .offcanvas {
        width: 80%;
        top: 2%;
        
        @media all and (min-width: $medium) {
            width: 65%;
        }

        @media all and (min-width: $large) {
            width: 50%;
        }
    }

    .buscador {
        outline: none;
        border: 2px solid #ccc;

        &:focus {
            box-shadow: 0px 0px 7px #ccc;
            border: 1px solid #ccc;
        }
    }
}

/* INDEX - OFERTAS */

.bg-warning {
    a {
        font-size: .6rem;

        @media all and (min-width: $medium){
            font-size: .75rem;
        }
    }
}

.text-destacado{
    top: 40%;

    @media all and (min-width: $medium){
        left: 5%;
    }

    h2 {
        font-family: 'Bowlby One', cursive;
        font-size: 2rem;
        letter-spacing: 3px;

        @media all and (min-width: $large){
            font-size: 4.5rem;
        }
    }
    
    p {
        @media all and (min-width: $medium){
            font-size: 1.3rem;
        }
    }
}

/* INDEX - NOVEDADES */

.titulo-seccion {
    font-size: 2.5rem;

    @media all and (min-width: $large){
        border-bottom: 2px solid #eee;
    }
}

/* CONTENEDOR PRODUCTO */

.producto {
    @include productos ($main_color, $gradient-btn);
}

/* INDEX - MARCAS */

.tr-img {
    @extend %OrderTrioImage;
}

/* ICONO WHATSAPP */

.iconowhatsapp {
    width: 50px;
    bottom: 100px;
    right: 20px;
    z-index: 2;
}

/* FOOTER */

footer {
    background: $main_color;

    div a {
        width: 35px;
        transition-duration: .5s;

        &:active {
            transform: scale(1.2, 1.2);
        }

        @media all and (min-width: $large){
            &:hover {
                transform: scale(1.2, 1.2);
            }
        }
    }

    p {
        font-size: .65rem;

        @media all and (min-width: $medium) {
            font-size: .5rem;
        }
    }
}

/* PRODUCTOS */

.form {
    .tit-filtros {
        border-bottom: 2px solid #ddd;
        font-size: 1.2rem;
        }

        div {
            border-bottom: 1.5px solid #eee;
        }
}

.filtros-aplicados {
    button {
        background: none;
        border: none;
    }
}

/* NEWSLETTER */

.newsletter {
    p {
        font-size: .8rem;
    }
}
