* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background: $main_color;

    @media all and (min-width: $large){
        background: #fff;
    }

    .icono {
        color: #fff;

        @media all and (min-width: $large){
            color: #000;
        }
    }

    .offcanvas {
        width: 80%;
        top: 2%;
        
        @media all and (min-width: $medium) {
            width: 65%;
        }

        @media all and (min-width: $large) {
            width: 50%;
        }
    }

    .buscador {
        outline: none;
        border: 2px solid #ccc;

        &:focus {
            box-shadow: 0px 0px 7px #ccc;
            border: 1px solid #ccc;
        }
    }

    .list-group-item {
        font-weight: map-get($font-weight, Medium);
    }

    .nav-item a {
        color: #fff;
        font-weight: map-get($font-weight, Light);

        &:hover {
            color: $main_color;
        }

        @media all and (min-width: $large){
            color: #000;
        }

        &.active {
            font-weight: map-get($font-weight, Bold);
        }
    }
}

/* INDEX - OFERTAS */

.bg-warning {
    a {
        font-size: .6rem;
        font-weight: map-get($font-weight, Bold);

        @media all and (min-width: $medium){
            font-size: .75rem;
        }
    }
}

.text-destacado{
    top: 40%;

    @media all and (min-width: $medium){
        left: 5%;
    }

    h2 {
        font-family: 'Bowlby One', cursive;
        font-size: 2rem;
        letter-spacing: 3px;

        @media all and (min-width: $large){
            font-size: 4.5rem;
        }
    }
    
    p {
        @media all and (min-width: $medium){
            font-size: 1.3rem;
        }
    }
}

/* INDEX - DESTACADOS */

.card-tittle, .card-text {
    font-weight: map-get($font-weight, Bold);
}

/* INDEX - NOVEDADES */

.titulo-seccion {
    font-size: 2.5rem;
    font-weight: map-get($font-weight, Bold);

    @media all and (min-width: $large){
        border-bottom: 2px solid #eee;
    }
}

/* GRILLA PRODUCTOS */

#btnfilters {
    font-weight: map-get($font-weight, Bold);
}

.form {
    .tit-filtros {
        border-bottom: 2px solid #ddd;
        font-size: 1.2rem;
        font-weight: map-get($font-weight, Bold);
        }

    div {
        border-bottom: 1.5px solid #eee;
    }
}

.filtros-aplicados {
    button {
        background: none;
        border: none;
    }
}

/* CONTENEDOR PRODUCTO */

.producto {
    @include productos ($main_color, $gradient-btn);

    &--mujer {
        @include productos (#ff8398, radial-gradient(ellipse at center, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%));
    }

    &--niños {
        @include productos (#0ac700, radial-gradient(ellipse at center, rgba(10,199,0,1) 0%, rgba(8,128,26,1) 100%));
    }

    a {
        font-weight: map-get($font-weight, Regular)
    }
}

/* INDEX - MARCAS */

.tr-img {
    @extend %OrderTrioImage;
}

/* ICONO WHATSAPP */

.iconowhatsapp {
    width: 50px;
    bottom: 100px;
    right: 20px;
    z-index: 2;
}

/* FOOTER */

footer {
    background: $main_color;

    div a {
        width: 35px;
        transition-duration: .5s;

        &:active {
            transform: scale(1.2, 1.2);
        }

        @media all and (min-width: $large){
            &:hover {
                transform: scale(1.2, 1.2);
            }
        }
    }

    p {
        font-size: .65rem;
        font-weight: map-get($font-weight, Bold);

        @media all and (min-width: $medium) {
            font-size: .6rem;
        }
    }
}

/* NEWSLETTER */

.newsletter {
    p {
        font-size: .8rem;
        font-weight: map-get($font-weight, Bold);
    }
}

/* CONTACTO - IMAGEN */

.card {
    div{
        top: 35%;

        h2 {
            font-family: 'Bowlby One', cursive;
            font-size: 2.5rem;
            font-weight: map-get($font-weight, Bold);
        }
        
        p {
            font-size: 1.2rem;
            font-weight: map-get($font-weight, Medium);
        }
    }
}

/* FORMULARIO REGISTRO */

.formcontact {
    h2 {
        font-size: 1.5rem;
        font-weight: map-get($font-weight, Bold);
    }

    input, select {
        outline: none;
        padding: .25rem 0;
        text-align: center;

        &:hover {
            border: 1.5px solid $main_color;
        }

        &:focus {
            border: none;
            box-shadow: 0px 0px 2px #444;
        }

        &:active {
            border: none;
            box-shadow: 0px 0px 2px #444;
        }

        &::placeholder {
            font-weight: map-get($font-weight, Light);
        }
    }

    .registro__notificaciones {
        font-weight: map-get($font-weight, Light);
        color: #000;

        &:hover {
            color: #555;
        }
    }

    .registro__terminos {
        a {
            font-weight: map-get($font-weight, Bold);
            color: $main_color;
        }
    }

    .registro__link {
        font-size: .85rem;

        a {
            color: $main_color;
            font-weight: map-get($font-weight, Bold)
        }
    }

    .form__btn {
        @extend %Btn-Form;
        font-weight: map-get($font-weight, Medium);
    }
}

