* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background: $main_color;

    @media all and (min-width: $large){
        background: #fff;
    }

    #collapsenav {
        background-color: #fff;

        @media all and (min-width: $medium){
            background-color: $main_color;
        }

        @media all and (min-width: $large){
            background-color: #fff;
        }
        
        input {
            outline: none;
            border: .8px solid #ddd;
            border-radius: 35px;
            transition-duration: .2s;

            &:focus {
                box-shadow: 0px 0px 10px #ccc;
            }

            &:active {
                box-shadow: 0px 0px 10px #ccc;
            }
        }

        button {
            border: none;
            background-color: #fff;
            border-radius: 35px;
            transition-duration: .2s;

            &:focus {
                color: #ccc;
            }

            &:active {
                color: #ccc;
            }

            @media all and (min-width: $medium){
                background-color: $main_color;
                color: #fff;
            }

            @media all and (min-width: $large){
                background-color: #fff;
                color: #000;
            }
        }

        .linkpage {
            color: #000;
            font-size: 1.1rem;
            font-weight: map-get($font-weight, Medium);
            border-bottom: .1px solid #eee;

            @media all and (min-width: $medium){
                color: #fff;
                border: none;
                font-weight: map-get($font-weight, Light);
                font-size: 1rem;
                order: -1;

                &.active {
                    font-weight: map-get($font-weight, Bold);
                }
            }

            @media all and (min-width: $large){
                color: #000;
            }
        }
    }

    .icono {
        color: #fff;

        @media all and (min-width: $large){
            color: #000;
        }
    }

    #login {
        width: 85%;
        top: 0;
        left: 7.5%;
        
        @media all and (min-width: $medium) {
            width: 65%;
            left: 17.5%;
        }

        @media all and (min-width: $large) {
            width: 50%;
            left: 25%;
        }

        input[type="email"], input[type="password"] {
            outline: none;
            border: .8px solid #ddd;
            border-radius: 35px;
            transition-duration: .2s;

            &:focus {
                box-shadow: 0px 0px 10px #ccc;
            }

            &:active {
                box-shadow: 0px 0px 10px #ccc;
            }
        }
        
        .btnIniciarSesion {
            @extend %Btn-Form;
        }
    }

    .list-group-item {
        font-weight: map-get($font-weight, Medium);
    }

    .nav-item a {
        color: #fff;
        font-weight: map-get($font-weight, Light);

        &:hover {
            color: $main_color;
        }

        @media all and (min-width: $large){
            color: #000;
            font-size: 1.1rem;
        }

        &.active {
            font-weight: map-get($font-weight, Bold);
        }
    }

    .registro__link {
        font-size: .9rem;
    
        a {
            color: $main_color;
            font-weight: map-get($font-weight, Bold)
        }
    }
}

/* INDEX - OFERTAS */

.bg-warning {
    a {
        font-size: .9rem;
        font-weight: map-get($font-weight, Bold);
    }
}

.text-destacado{
    top: 40%;

    @media all and (min-width: $medium){
        left: 5%;
    }

    h2 {
        font-family: 'Bowlby One', cursive;
        font-size: 2rem;
        letter-spacing: 3px;

        @media all and (min-width: $large){
            font-size: 4.5rem;
        }
    }
    
    p {
        @media all and (min-width: $medium){
            font-size: 1.3rem;
        }
    }
}

/* INDEX - DESTACADOS */

.card-tittle, .card-text {
    font-weight: map-get($font-weight, Bold);
}

/* INDEX - NOVEDADES */

.titulo-seccion {
    font-size: 2.5rem;
    font-weight: map-get($font-weight, Bold);

    @media all and (min-width: $large){
        border-bottom: 2px solid #eee;
    }
}

/* GRILLA PRODUCTOS */

#btnfilters {
    font-weight: map-get($font-weight, Bold);
}

.form {
    .tit-filtros {
        border-bottom: 2px solid #ddd;
        font-size: 1.2rem;
        font-weight: map-get($font-weight, Bold);
        }

    div {
        border-bottom: 1.5px solid #eee;
    }
}

/* CONTENEDOR PRODUCTO */

.producto {
    @include productos ($main_color, $gradient-btn);

    &--mujer {
        @include productos (#ff8398, radial-gradient(ellipse at center, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%));
    }

    &--niños {
        @include productos (#0ac700, radial-gradient(ellipse at center, rgba(10,199,0,1) 0%, rgba(8,128,26,1) 100%));
    }

    a {
        font-weight: map-get($font-weight, Regular)
    }
}

/* CARRITO PRODUCTOS */

#carrito {
    width: 75%;
    height: 90%;
    top: 2.5%;
    left: 12.5%;

    @media all and (min-width: $medium){
        width: 50%;
        left: 25%;
    }

    @media all and (min-width: $large){
        width: 40%;
        left: 30%;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: map-get($font-weight, Bold)
    }

    p {
        font-size: .9rem;
        font-weight: map-get($font-weight, Medium);

        span {
            font-size: 1.2rem;
            font-weight: map-get($font-weight, Bold);
        }
    }

    a, button {
        font-weight: map-get($font-weight, Medium);
        font-size: 1.1rem;
        border: 1.5px solid black;

        &:active {
            transform: scale(1.01,1.01)
        }
    }

}

/* HOMBRE Y MUJER - NEWSLETTER */

.newsletter {
    p {
        font-size: .9rem;
        font-weight: map-get($font-weight, Bold);
    }
}

/* NIÑOS - SECCIONES */@at-root

.cat-niños {
    h2 {
        font-weight: map-get($font-weight, Bold);

        @media all and (min-width: $large){
            font-size: 1.1rem;
        }
    }

    a {
        text-decoration: none;
        color: #555;
        font-size: .8rem;

        span {
            color: #222;
            text-decoration: underline;
            letter-spacing: 1px;
            font-weight: map-get($font-weight, Medium);
        }
    }
}

/* CONTACTO - IMAGEN */

.card {
    div{
        top: 35%;

        h2 {
            font-family: 'Bowlby One', cursive;
            font-size: 2.5rem;
            font-weight: map-get($font-weight, Bold);
        }
        
        p {
            font-size: 1.2rem;
            font-weight: map-get($font-weight, Medium);
        }
    }
}

/* FORMULARIO REGISTRO */

.formcontact {
    h2 {
        font-size: 1.5rem;
        font-weight: map-get($font-weight, Bold);
    }

    input, select, textarea {
        outline: none;
        border: 1px solid #ccc;
        padding: .25rem 0;
        text-align: center;

        &:hover {
            border: 1px solid $main_color;
        }

        &:focus {
            box-shadow: 0px 0px 2px #444;
        }

        &:active {
            box-shadow: 0px 0px 2px #444;
        }

        &::placeholder {
            font-weight: map-get($font-weight, Light);
        }
    }

    .registro__notificaciones {
        font-weight: map-get($font-weight, Light);
        color: #000;

        &:hover {
            color: #555;
        }
    }

    .registro__terminos {
        a {
            font-weight: map-get($font-weight, Bold);
            color: $main_color;
        }
    }

    .registro__link {
        font-size: .85rem;

        a {
            color: $main_color;
            font-weight: map-get($font-weight, Bold)
        }
    }

    .form__btn {
        @extend %Btn-Form;
        font-weight: map-get($font-weight, Medium);
    }
}

#registerSuccessful {
    p {
        @media all and (min-width: $large){
            font-size: 1.4rem;
        }
    }
}

/* CARRITO */

.tucarrito {
    h2 {
        font-weight: map-get($font-weight, Bold);
    }

    p {
        font-weight: map-get($font-weight, Light);
        color: #444;

        span {
            font-weight: map-get($font-weight, Bold);
            color: #000;
        }
    }

    .offcuotas {
        background-color: #f5f5e5;

        h3 {
            font-size: 1.2rem;
            font-weight: map-get($font-weight, Bold);
        }

        p {
            font-size: .9rem;
        }
    }

    .productocarrito {
        border-top: 1px solid #000; 

        @media all and (min-width: $medium){
            border: 1px solid #000;
        }

        h5 {
            font-size: .9rem;

            @media all and (min-width: $medium){
                font-size: 1.3rem;
            }
        }

        select {
            width: 20%;

            @media all and (min-width: $medium){
                width: 15%;
            }
        }
    }
}

.resumenpedido {
    h2, h5 {
        font-size: 1.5rem;
        font-weight: map-get($font-weight, Bold);
    }

    p {
        color: #222;
        font-size: .85rem;
        font-weight: map-get($font-weight, Light);
    }

    .total {
        color: #000;
        font-weight: map-get($font-weight, Bold);
    }

    a {
        font-weight: map-get($font-weight, Bold);
    }
}

/* ICONO WHATSAPP */

.iconowhatsapp {
    width: 50px;
    bottom: 100px;
    right: 20px;
    z-index: 2;
}

/* FOOTER */

footer {
    background: $main_color;

    div a {
        width: 35px;
        transition-duration: .5s;

        &:active {
            transform: scale(1.2, 1.2);
        }

        @media all and (min-width: $large){
            &:hover {
                transform: scale(1.2, 1.2);
            }
        }
    }

    p {
        font-size: .9rem;
        font-weight: map-get($font-weight, Bold);
    }
}

