$main_color: #037394;

/* SCREEN SIZE */

$medium: 768px;

$large: 1200px;

/* BUTTONS */

$gradient-btn: radial-gradient(ellipse at center, rgba(31,150,255,1) 0%, rgba(0,128,255,1) 100%);

/* EXTEND - BOTON FORMULARIO */

%Btn-Form {  
        background: #fff;
        border: 2px solid $main_color;
        color: $main_color;

        &:focus {
            box-shadow: 0px 0px 10px $main_color;
            background: $main_color;
            color: #fff;
        }

        &:active {
            box-shadow: 0px 0px 10px $main_color;
            background: $main_color;
            color: #fff;
        }
}

/* MIXIN - PRODUCTOS */

@mixin productos ($bordercolor, $btn-color) {
    margin: auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
    margin: 1rem auto;
    max-width: 90%;

    border: 2px solid #eee;
    border-radius: 5%;
    height: 500px;
    transition-duration: .2s;

    &:hover {
        border: 2px solid #fff;
        box-shadow: 0px 0px 3px $bordercolor;
        transform: scale(1.01, 1.01);
    }

    @media all and (min-width: $medium){
        max-width: 40%;
    }

    @media all and (min-width: $large){
        max-width: 100%;
    }

    p {
        font-size: .9rem;
    }

    button {
        text-decoration: none;
        background: $btn-color;
        border: none;
        color: #fff;
        transition-duration: .5s;

        &:hover {
            color: #fff;
        }
        
        &:active {
            background: #fff;
            color: #000;
            box-shadow: 0px 0px 15px $bordercolor;
            transform: scale(1.02, 1.02);
        }
    }

    img {
        max-height: 70%;
    }
}

/* MAP - GROSOR FUENTE */

$font-weight: (
    Light: 300,
    Regular: 400,
    Medium: 500,
    Bold: 700
);