/* SCREEN SIZE */
/* BUTTONS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");
/* font-family: 'Bowlby One', cursive; */
* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

header {
  background: #037394;
}

@media all and (min-width: 1200px) {
  header {
    background: #fff;
  }
}

header .nav-item a {
  color: #fff;
}

@media all and (min-width: 1200px) {
  header .nav-item a {
    color: #000;
  }
}

.bg-warning a {
  font-size: .6rem;
}

@media all and (min-width: 768px) {
  .bg-warning a {
    font-size: .75rem;
  }
}

.text-destacado {
  top: 40%;
}

@media all and (min-width: 768px) {
  .text-destacado {
    left: 5%;
  }
}

.text-destacado h2 {
  font-family: 'Bowlby One', cursive;
  font-size: 2rem;
  letter-spacing: 3px;
}

@media all and (min-width: 1200px) {
  .text-destacado h2 {
    font-size: 4.5rem;
  }
}

@media all and (min-width: 768px) {
  .text-destacado p {
    font-size: 1.3rem;
  }
}

.titulo-seccion {
  font-size: 2.5rem;
}

@media all and (min-width: 1200px) {
  .titulo-seccion {
    border-bottom: 2px solid #eee;
  }
}

.producto {
  border: 2px solid #eee;
  border-radius: 5%;
  height: 500px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.producto:hover {
  border: none;
  -webkit-box-shadow: 0px 0px 5px #037394;
          box-shadow: 0px 0px 5px #037394;
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.producto p {
  font-size: .8rem;
}

.producto a {
  text-decoration: none;
  background: radial-gradient(ellipse at center, #1f96ff 0%, #0080ff 100%);
  border: none;
  color: #fff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.producto a:active {
  background: #fff;
  color: #000;
  -webkit-box-shadow: 0px 0px 15px #037394;
          box-shadow: 0px 0px 15px #037394;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.marcas-img {
  border: .5px solid #eee;
  border-radius: 5%;
  -webkit-box-shadow: 0px 0px 15px #ccc;
          box-shadow: 0px 0px 15px #ccc;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.marcas-img:active {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media all and (min-width: 1200px) {
  .marcas-img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .marcas-img:hover {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
    border: none;
    -webkit-box-shadow: 0px 0px 15px #ccc;
            box-shadow: 0px 0px 15px #ccc;
  }
}

.iconowhatsapp {
  width: 50px;
  bottom: 100px;
  right: 20px;
}

footer {
  background: #037394;
}

footer div a {
  width: 35px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

footer div a:active {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media all and (min-width: 1200px) {
  footer div a:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

footer p {
  font-size: .65rem;
}

@media all and (min-width: 768px) {
  footer p {
    font-size: .5rem;
  }
}

.form .tit-filtros {
  border-bottom: 2px solid #ddd;
  font-size: 1.2rem;
}

.form div {
  border-bottom: 1.5px solid #eee;
}

.filtros-aplicados button {
  background: none;
  border: none;
}

.newsletter p {
  font-size: .8rem;
}
/*# sourceMappingURL=styles.css.map */