* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// HEADER
header {
    width: 100%;
    padding: .85rem 0 .5rem 0;
    overflow: hidden;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    background: #037394;

    @media all and (min-width: 1200px){
        background: #fff;

        flex-flow: row nowrap;

        padding: 0 1.5rem;
    }

    .navButton {
        background: none;
        border: none;

        @media all and (min-width: 768px){
            display: none;
        }
    }

    .navIcon {
        color: #fff;
        font-size: 1.8rem;

        cursor: pointer;

        @media all and (min-width: 1200px){
            color: #000;
        }
    }

    .navIconContainer {
        width: 25%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        @media all and (min-width: 768px){
            width: 15%;

            order: 2;
        }
    }

    .navMenu {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &--collapsed {
            display: none;
        }    

        @media all and (min-width: 768px){
            width: 70%;

            display: flex;
            flex-flow: row nowrap;

            order: 1;
        }

        .navLink {
            width: 100%;
            text-align: center;
            color: #000;
            background-color: #fff;

            padding: 1rem 0;
            border-bottom: 1px solid rgba($color: #000, $alpha: .15);

            &:hover, :active {
                font-weight: 600;
                background: #eeeeee;
            }

            @media all and (min-width: 768px){
                width: auto;

                background: none;
                border: none;

                color: #fff;

                &:hover, :active {
                    background: none;
                }
            }

            @media all and (min-width: 1200px){
                color: #000;
            }
        }
    }
}

// LOGO

.logo {
    max-height: 4.5rem;
    
    cursor: pointer;

    @media all and (min-width: 768px){
        order: 0;
    }

    @media all and (min-width: 1200px){
        max-height: 6rem;
    }
}

// NEWS SECTION
.newsContainer {
    position: sticky;
    z-index: 5;
    top: 0;

    width: 100%;
    padding: .75rem;

    background-color: #ffc107;
    text-align: center;

    cursor: pointer;
    overflow: hidden;

    p {    
        font-weight: 600;
        font-size: .85rem;
        color: #000;

        animation: slide 10s infinite linear;
    }
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0%, 0);
    }
}

// PAGE COVER
.pageCover {
    position: relative;

    cursor: pointer;

    img {
        width: 100%;
    }
    
    .textContainer {
        position: absolute;
        padding: 0 1.2rem;

        width: 100%;
        bottom: 5%;

        background-color: rgba($color: #000, $alpha: .25);

        text-align: end;
        color: #fff;

        h2 {
            font-size: 2rem;
        }
    }
}

// SECCION TITLE
.sectionTitle {
    width: 100%;

    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    color: #212529;

    margin: 1.5rem 0;
}

// ITEM LIST CONTAINER
.itemListContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    padding: .5rem;

    .item {
        height: 500px;
        width: 325px;
        padding: .5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;

        border: 1px solid rgba(0, 0, 0, 0.075);
        border-radius: 25px;

        transition: all ease .3s;

        &:hover {
            border: 1px solid #037394bb;
            box-shadow: 0 0 2.5px #037394bb;
        }

        img {
            cursor: pointer;

            max-width: 90%;
            max-height: 200px;
        }

        h5 {
            font-size: 1.3rem;
            color: #000;
            font-weight: 500;
        }

        p {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
}

.button {
    cursor: pointer;

    width: 35%;
    padding: .5rem 0;

    border: 1px solid #037394;
    border-radius: 25px;
    background-color: #037394;

    color: #fff;

    transition: all ease .5s;

    &:hover {
        background-color: #fff;
        color: #000;
        box-shadow: 0px 0px 3.5px #037394;
    }

    &:active {
        transform: scale(.95);
    }
}

// BRANDS
.brandsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    margin-bottom: 2rem;

    @media all and (min-width: 1200px){
        max-width: 75%;
        margin: auto;

        flex-flow: row wrap;
        gap: 2.5rem;

        margin-bottom: 3.5rem;
    }
}

// FORMS

.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    background: rgba($color: #000000, $alpha: .05);

    .formSection {
        width: 100%;
        margin-bottom: 1.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &--small {
            width: 50%;
        }

        &:focus {
            border: 1px solid #037394;
        }

        .formInput {
            resize: none;

            width: 75%;
            margin-top: .5rem;
            padding: .5rem 1rem;

            border-radius: 25px;
            border: 1px solid #ccc;
        }
    }
}

// FOOTER
.footer {
    width: 100%;
    padding: 1rem .5rem;
    min-height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;

    background-color: #037394;

    @media all and (min-width: 1200px){
        background: #fff;

        border-top: 2.5px solid rgba($color: #037394, $alpha: .5);
    }

    .footerMenu {     
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;

        .footerSubMenu {
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;

            h3 {
                font-size: 1rem;
                color: #212529;
            }

            a {
                font-size: .85rem;
                color: #000;
            }
        }
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
}