body {
  background: #eee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  width: 95%;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  margin: auto 20px;
  height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
}